.PostProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.PostProduct input,
.PostProduct button {
  margin: 10px;
  padding: 10px;
  width: 400px;
  outline: none;
}
